{% extends 'base.html' %}

{% block app_content %}
    <h1>Sign In</h1>
    <br>
    <div class="row">
        <div class="col-md-8">
            {% import 'bootstrap/wtf.html' as wtf %}
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <hr>
            Password Forget?
            <a href="{{ url_for('Send_Password_Reset_Request') }}">
                Click Here to Reset Your Password!
            </a>
        </div>
    </div>

{% endblock %}